
.home {
    text-align: center;
    margin-top: 14%;
    width: 50%;
}
.home .btn {
    color: green;
}
@media screen and (max-width:920px) {
    .home {
        text-align: center;
        margin-top: 50%;
        width: 70%;
    }
}