.sign {
    margin-top: 2%;
    padding: 20px !important;
    width: 40%;
}
.sign .card {
    padding: 30px;
    background-color: transparent;
}
.sign .card h5 {
    margin-bottom: 40px !important;
}
body {
    background-color: white;
}

.donation {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}
.donation h5 {
    text-align: center;
}
@media screen and (max-width:920px) {
    .sign {
        margin-top: 2%;
        padding: 20px !important;
        width: 100%;
    }
    .donation {
        width: 100%;
    }
}
.donee-home {
    margin-top: 2%;
    padding: 20px !important;
    width: 80%;
}
.testimonials {
    margin-top: 30px;
}
.testimonials .card {
    padding: 20px;
    background-color: transparent;
    border-width: 2px;
    border-color: green;
}
.testimonials blockquote {
    color: rgb(156, 231, 225);
}
.page-footer {
    margin-top: 40px;
    padding: 20px;
}
.page-footer h5 {
    color: rgb(228, 148, 0);
    margin-bottom: 20px;
}
.page-footer h6 {
    margin-top: 20px;
}
.page-footer a {
    text-decoration: none;
    padding-bottom: 20px;
}
.page-footer a i {
    font-size: 20px;
}
