.navbar {
   padding: 30px;
}
.navbar-nav {
    margin-left: 8%;
}
.nav-item a {
    color: rgb(45, 218, 145) !important;
}
.nav-item  {
    padding-left: 40px;
}
.navbar-brand {
    color: rgb(45, 218, 145) !important;
}