.navbar {
   padding: 30px;
   background-color: transparent !important;
}
.navbar-nav {
    margin-left: 20%;
}
.nav-item a {
    color: rgb(117, 114, 98) !important;
    font-size: 17px;
}
.nav-item  {
    padding-left: 40px;
}
.navbar-brand {
    color: #950740 !important;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}