.admin {
    margin-top: 2%;
    padding: 20px !important;
    width: 80%;
}
.admin .card {
    padding: 20px;
    background-color: rgb(102, 100, 100);
    border-width: 2px;
    border-color: blue;
    margin-left: 20px;
    margin-bottom: 10px;
}
.admin .card h5 {
    margin-bottom: 40px !important;
}